footer
  +social-media('https://www.tiktok.com/@paolaandreaterrazas?','http://www.instagram.com/dentalcenter.draterrazas','https://www.facebook.com/dentalcenterterrazas')
  +footer-info('Copyright © 2021 • Dental Center','Desarrollado por Huáscar Suárez','adm.dentalcenter@outlook.com')
  
