header
  nav
    a(href="#") Logo 
    .menu-wrap
      input(type="checkbox", class="toggler")
      .hamburger
        div
      .menu 
        div
          div: ul 
            li: a(href="#") Home 
            li: a(href="#") Habilidades 
            li: a(href="#") Sobre mí 
            li: a(href="#") Testimonios
            li: a(href="#") Ubicación

