html 
  head 
    title Dental Center
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, maximum-scale=1.0, user-scalable=no')
    meta(name="description" content="Especializados en sonrisas perfectas, expertos en odontología.")
    meta(name="keywords" content="paola terrazas, dental center, odontología santa cruz")
    meta(property="og:title" content="Clínica Dental Centar")
    meta(property="og:description" content="Especializados en sonrisas perfectas, expertos en odontología.")
    meta(property="og:image" content="../../assets/icons/logodentalcenter.png")
    link(rel="icon" type="image/x-icon" href="../../assets/icons/dentalcenter.svg")
    link(rel="stylesheet", href="../../css/bootstrap.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com")
    link(rel="stylesheet", href="https://fonts.gstatic.com" crossorigin)
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap")
    link(rel="stylesheet", href="https://unpkg.com/swiper@7/swiper-bundle.min.css")
    link(rel="stylesheet", href="../../css/clinica.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap")
  body