link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
a(href="https://cutt.ly/iRcwgOB" class="float" target="_blank" rel="noopener")
  i(class="fa fa-whatsapp my-float")