.flickity-button {
    
  background: transparent;
}
.flickity-button:hover {
    
  background: transparent;
  color: black;
}

.flickity-prev-next-button {
  width: 100px;
  height: 100px;
}
.flickity-button-icon {
  fill: white;
}
.flickity-button:disabled {
  display: none;
}
    
.carousel {
  font-family: Arial, Helvetica, sans-serif;
  margin:auto;
  max-width: 680px;
  height: 400px;
  border-radius: 20%;
}