footer {
  width: 100vw;
  height: 250px;
  padding-top: 15px;
  background-color: $color-primario;
  & .social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    &__tiktok {
      width: 29px;
      height: 26px;
      margin: 15px;
      background-image: url("../../assets/icons/social_networks/tiktok.png");
      background-size: contain;
      background-repeat: no-repeat;
      -webkit-filter: invert(1);
      filter: invert(1);
    }
    &__instagram {
      width: 29px;
      height: 26px;
      margin: 15px;
      background-image: url("../../assets/icons/social_networks/instagram.png");
      background-size: contain;
      background-repeat: no-repeat;
      -webkit-filter: invert(1);
      filter: invert(1);
    }
    &__facebook {
      width: 29px;
      height: 26px;
      margin: 15px;
      background-image: url("../../assets/icons/social_networks/facebook.png");
      background-size: contain;
      background-repeat: no-repeat;
      -webkit-filter: invert(1);
      filter: invert(1);
    }
  }
  & .footer-info {
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
    color: #fff;
    &__copyright {
      display: block;
      @include font-size(14px);
      &-bellow {
        display: block;
        @include font-size(14px);
      }
    }
    &__developer-sign {
      display: block;
      margin-top: 15px;
      @include font-size(12px);
    }
    &__email {
      display: block;
      margin-top: 15px;
      font-weight: bold;
      @include font-size(18px);
    }
  }
}
