/* Variables */
$Fuente1: 'DM Sans', sans-serif;
$color-primario: #023E8A;
$color-secundario: #0077B6;
$color-fondo: #FBF7F3;

/* Imágenes */
$doctor-img: '../../assets/img/clinica-1.jpg';
$video-img : '../../assets/img/clinica-5.jpg';

/* Funciones */
@function calculateRem($size) {
  $remSize: $size/ 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
  line-height: calculateRem($size)*1.5;
}

@mixin card {
  width: 88%;
  height: 168px;
  background-color: #fff;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: -1px 6px 6px -1px rgba(146,146,146,0.59);
  -webkit-box-shadow: -1px 6px 6px -1px rgba(146,146,146,0.59);
  -moz-box-shadow: -1px 6px 6px -1px rgba(146,146,146,0.59);
}

@function get-opacity($color, $amount) {
  @return rgba($color, $amount);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $Fuente1;
}

main {
  background-color: $color-fondo;
}

body {
  background-color: $color-fondo;
  @include font-size(18px);
}