.main-cover {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  /* width: 1000px; */
  /* height: 425px; */
  height: 133vw;
  max-height: 800px;
  padding-top: 35px;
  padding-bottom: 5%;
  margin-bottom: 115px;
  justify-content: center;
  background-color: $color-secundario;
  & .title {
    width: 88%;
    margin: 0 auto;
    color: #fff;
    & .title__doctor {
      margin: 0;
      padding: 0;
      color: $color-primario;
      letter-spacing: 2.5px;
      @include font-size(16px);
      /* @include media('mobile-l') {
        @include font-size(24px)
      } */
    }
    & .title__text--one {
      margin-top: 7px;
      margin-bottom: 0;
      font-family: $Fuente2;
      @include font-size(39px);
      line-height: 45px;
    }
    & .title__text--two {
      margin-top: 12px;
      margin-bottom: 20px;
      @include font-size(18px);
      line-height: 29px;
    }
    /* & .title__occupation {
      font-weight: 400;
      @include font-size(15px);
      @include media('mobile-l') {
        @include font-size(18px)
      }
    } */
  }
  & .doctor-photo {
    /* height: 357px; */
    height: 100%;
    max-height: 739px;
    width: 88%;
    max-width: 595px;
    margin-top: 20px;
    background-image: url($doctor-img);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.about {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  margin-top: 50px;
  padding-top: 45px;
  padding-bottom: 60px;
  background-color: #fff;
  &__info {
    width: 88%;
    margin: 0 auto;
    &-title {
      color: $color-primario;
      letter-spacing: 2px;
      font-weight: 600;
      @include font-size(16px);
    }
    &-text {
      margin-top: 25px;
      @include font-size(18px);
    }
  }
}

.doctor-cover {
  width: 95%;
  max-width: 586px;
  /* height: 340px; */
  height: 107vw;
  max-height: 648px;
  margin-top: 45px;
  position: relative;
  background-color: #fff;
  /* &__lines {
    width: 88%;
    height: 80%;
    position: absolute;
    top: 155px;
    background: url('../../assets/img/lines.svg');
    background-repeat: no-repeat;
    background-size: cover;
  } */
  &__rectangle {
    width: 78%;
    height: 85%;
    position: absolute;
    background-color: $color-secundario;
  }
  &__photo {
    width: 94%;
    height: 93%;
    position: absolute;
    top: 7%;
    left: 6%;
    background-image: url("../../assets/img/clinica-4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.video {
  display: flex;
  width: 88%;
  /* height: 220px; */
  height: 50vw;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url($video-img);
  background-size: cover;
  background-repeat: no-repeat;
  &-opacity {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: get-opacity(black, 0.4);
  }
  & a {
    width: 23%;
    height: 30%;
    position: absolute;
    background-image: url("../../assets/icons/play.svg");
    -webkit-filter: invert(1);
    filter: invert(1);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.testimony {
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  span {
    letter-spacing: 2px;
    font-weight: 600;
    color: $color-primario;
    @include font-size(16px);
  }
}

.ubication {
  display: flex;
  flex-direction: column;
  /* height: 268px; */
  height: 70vw;
  margin-top: 45px;
  position: relative;
  /* background-color: $color-secundario; */
  background-color: $color-primario;
  & span {
    margin: 8px;
    align-self: center;
    letter-spacing: 2px;
    color: #fff;
    @include font-size(20px);
  }
  &__maps {
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    & iframe {
      left: 0;
      top: 0;
      /* height: 185px; */
      height: 58vw;
      width: 100%;
    }
  }
}

.services {
  display: flex;
  flex-direction: column;
  width: 88%;
  margin: 50px auto;
  &__title--one {
    letter-spacing: 2px;
    font-weight: 600;
    color: $color-primario;
    @include font-size(16px);
  }
  &__title--two {
    margin-top: 5px;
    font-weight: bold;
    @include font-size(20px);
  }
}

.services__carrousel {
  display: flex;
  flex-direction: column;
  width: 88vw;
  /* max-width: 694px; */
  height: 369px;
  margin: 25px 0;
  padding: 15px;
  justify-content: center;
  align-items: center;
  /* border: 0.1px get-opacity($color-primario, 0.2) solid; */
  background-color: #fff;
  &-icon {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: get-opacity($color-primario, 0.5);
    & img {
      width: 60%;
      height: 60%;
      -webkit-filter: invert(1);
      filter: invert(1);
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    &__title {
      margin-top: 15px;
      font-weight: bold;
      text-align: center;
      @include font-size(18px);
    }
    &__description {
      margin-top: 25px;
      text-align: center;
      @include font-size(16px);
    }
    & a {
      margin-top: 15px;
      text-align: center;
      /* text-decoration: none; */
      color: blue;
      @include font-size(16px);
    }
  }
}