.about {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  width: 100vw;
  margin-top: 90px;
  padding-top: 70px;
  padding-bottom: 130px;
  /* padding-top: 45px;
  padding-bottom: 60px; */
  background-color: #fff;
  &__info {
    width: 88%;
    margin: 0 auto;
    max-width: 572px;
    &-title {
      color: $color-primario;
      letter-spacing: 2px;
      font-weight: 600;
      @include font-size(16px);
    }
    &-text {
      margin-top: 25px;
      @include font-size(18px);
    }
    @include media(tablet) {
      justify-self: center;
    }
    @include media(desktop-s) {
      order: 2;
      margin: 0;
      margin-left: 75px;
      max-width: 400px;
    }
    @include media(desktop-m) {
      max-width: 486px;
      margin-left: 0;
      /* margin-right: 145px; */
    }
  }
  @include media(tablet) {
    text-align: center;
    justify-content: center;
  }
  @include media(desktop-s) {
    text-align: start;
    align-items: center;
  }
  @include media(desktop-m) {
  }
}

.doctor-cover {
  width: 95%;
  max-width: 586px;
  /* height: 340px; */
  height: 107vw;
  max-height: 648px;
  margin-top: 45px;
  position: relative;
  background-color: #fff;
  &__rectangle {
    width: 78%;
    height: 85%;
    position: absolute;
    background-color: $color-secundario;
  }
  &__photo {
    width: 94%;
    height: 93%;
    position: absolute;
    top: 7%;
    left: 6%;
    background-image: url("../../assets/img/clinica-4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  @include media(desktop-s) {
    order: 1;
    /* max-width: 470px;
    max-height: 530px; */
    max-width: 547px;
    max-height: 605px;
  }
  @include media(desktop-m) {
    max-width: 586px;
    max-height: 648px;
    margin-right: 75px;
  }
  @include media(desktop-l) {
    max-width: 686px;
    max-height: 748px;
    margin-right: 75px;
  }
}

.video {
  display: flex;
  width: 88%;
  /* height: 220px; */
  height: 50vw;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url($video-img);
  background-size: cover;
  background-repeat: no-repeat;
  &-opacity {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: get-opacity(black, 0.4);
  }
  & a {
    width: 23%;
    height: 30%;
    position: absolute;
    background-image: url("../../assets/icons/play.svg");
    -webkit-filter: invert(1);
    filter: invert(1);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.testimony {
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  span {
    letter-spacing: 2px;
    font-weight: 600;
    color: $color-primario;
    @include font-size(16px);
  }
}

.ubication {
  display: flex;
  flex-direction: column;
  /* height: 268px; */
  height: 70vw;
  margin-top: 45px;
  position: relative;
  /* background-color: $color-secundario; */
  background-color: $color-primario;
  & span {
    margin: 8px;
    align-self: center;
    letter-spacing: 2px;
    color: #fff;
    @include font-size(20px);
  }
  &__maps {
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    & iframe {
      left: 0;
      top: 0;
      /* height: 185px; */
      height: 58vw;
      width: 100%;
    }
  }
}

.services {
  display: flex;
  flex-direction: column;
  width: 88%;
  margin: 50px auto;
  &__title--one {
    letter-spacing: 2px;
    font-weight: 600;
    color: $color-primario;
    @include font-size(16px);
  }
  &__title--two {
    margin-top: 5px;
    font-weight: bold;
    @include font-size(20px);
  }
}

.services__carrousel {
  display: flex;
  flex-direction: column;
  width: 88vw;
  /* max-width: 694px; */
  height: 369px;
  margin: 25px auto;
  padding: 15px;
  justify-content: center;
  align-items: center;
  border: 0.5px get-opacity($color-primario, 0.2) solid;
  background-color: #fff;
  &-icon {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: get-opacity($color-primario, 0.5);
    & img {
      width: 60%;
      height: 60%;
      -webkit-filter: invert(1);
      filter: invert(1);
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    &__title {
      margin-top: 15px;
      font-weight: bold;
      text-align: center;
      @include font-size(18px);
    }
    &__description {
      margin-top: 25px;
      text-align: center;
      @include font-size(16px);
    }
    & a {
      margin-top: 15px;
      text-align: center;
      /* text-decoration: none; */
      color: blue;
      @include font-size(16px);
    }
  }
  @include media(tablet) {
    width: 390px;
    height: 445px;
    margin-right: 45px;
    margin-left: 45px;
  }
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media(tablet) {
    justify-content: center;
    flex-direction: row;
  }
  @include media(desktop-s) {
    margin-top: 95px;
  }
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media(desktop-s) {
    justify-content: center;
    flex-direction: row;
  }
}