
<header>
  <nav><a href="#">Logo </a>
    <div class="menu-wrap">
      <input class="toggler" type="checkbox"/>
      <div class="hamburger">
        <div></div>
      </div>
      <div class="menu"> 
        <div>
          <div>
            <ul> 
              <li><a href="#">Home </a></li>
              <li><a href="#">Habilidades </a></li>
              <li><a href="#">Sobre mí </a></li>
              <li><a href="#">Testimonios</a></li>
              <li><a href="#">Ubicación</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>