
<html> 
  <head></head>
  <title>header component</title>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no"/>
  <link rel="stylesheet" href="../../css/clinica.css"/>
  <header class="header"><a class="logo" href="#">Logo</a>
    <input class="menu-btn" type="checkbox" id="menu-btn"/>
    <label class="menu-icon" for="menu-btn"> <span class="navicon"></span></label>
    <ul class="menu">
      <li><a href="#main">Inicio</a></li>
      <li><a href="#main">Habilidades</a></li>
      <li><a href="#main">Sobre mí</a></li>
      <li><a href="#main">Servicios</a></li>
      <li><a href="#main">Testimonios</a></li>
      <li><a href="#main">Ubicación</a></li>
    </ul>
  </header>
</html>