<!DOCTYPE html>
<html>
  <html> 
    <head> 
      <title>Dra. Paola Terrazas</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no"><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="../../css/clinica.css">
    </head>
    <body></body>
  </html>
  <body>
    <header>
      <nav>
        <div class="navbar-container container">
          <input type="checkbox" name="" id="">
          <div class="hamburger"></div>
          <div class="hamburger-lines"><span class="line line1"></span><span class="line line2"></span><span class="line line3"></span></div>
          <ul class="menu-items"> 
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Habilidades </a></li>
            <li><a href="#">Sobre mí </a></li>
            <li><a href="#">Testimonios </a></li>
            <li><a href="#">Ubicación</a></li>
          </ul><span class="logo">Logo </span>
        </div>
      </nav>
    </header>
    <footer>
        <div class="social-media"><a class="social-media__tiktok" href="https://www.tiktok.com/@paolaandreaterrazas?"></a><a class="social-media__instagram" href="http://www.instagram.com/dentalcenter.draterrazas"></a><a class="social-media__facebook" href="https://www.facebook.com/dentalcenterterrazas"></a></div>
        <div class="footer-info"><span class="footer-info__copyright">Copyright © 2021 • Paola Terrazas</span><span class="footer-info__copyright-bellow">All right reserved</span><span class="footer-info__developer-sign">Desarrollado por Huáscar Suárez</span><span class="footer-info__email">drapaolaterrazas@gmail.com</span></div>
    </footer>
  </body>
</html>