<!DOCTYPE html>
<html>
  <html> 
    <head> 
      <title>Dra. Paola Terrazas</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no">
      <link rel="stylesheet" href="../../css/bootstrap.css"><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
      <link rel="stylesheet" href="../../css/clinica.css"><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
    </head>
    <body></body>
  </html>
  <body>
    <header>
      <nav>
        <div class="navbar-container container">
          <input type="checkbox" name="" id="">
          <div class="hamburger"></div>
          <div class="hamburger-lines"><span class="line line1"></span><span class="line line2"></span><span class="line line3"></span></div>
          <ul class="menu-items"> 
            <li><a href="#main">Inicio</a></li>
            <li><a href="#skills">Habilidades </a></li>
            <li><a href="#about">Sobre mí </a></li>
            <li><a href="#services">Servicios</a></li>
            <li><a href="#testimonials">Testimonios </a></li>
            <li><a href="#ubication">Ubicación</a></li>
          </ul><span class="logo">Logo </span>
        </div>
      </nav>
    </header>
    <footer>
        <div class="social-media"><a class="social-media__tiktok" href="https://www.tiktok.com/@paolaandreaterrazas?" target="_blank"></a><a class="social-media__instagram" href="http://www.instagram.com/dentalcenter.draterrazas" target="_blank"></a><a class="social-media__facebook" href="https://www.facebook.com/dentalcenterterrazas" target="_blank"></a></div>
        <div class="footer-info"><span class="footer-info__copyright">Copyright © 2021 • Paola Terrazas</span><span class="footer-info__copyright-bellow">All right reserved</span><span class="footer-info__developer-sign">Desarrollado por Huáscar Suárez</span><span class="footer-info__email">drapaolaterrazas@gmail.com</span></div>
    </footer>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"><a class="float" href="https://api.whatsapp.com/send?phone=59172668229&amp;text=Hola!%20Quisiera%20una%20consulta%20%F0%9F%98%81" target="_blank"><i class="fa fa-whatsapp my-float"></i></a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"> </script>
    <script src="../../js/script.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"> </script>
  </body>
</html>