.home-hero-wrapper { 
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  & .title {
    width: 88%;
    position: relative;
    z-index: 1;
    color: #fff;
    & .title__doctor {
      margin: 0;
      padding: 0;
      font-weight: 700;
      color: $color-primario;
      letter-spacing: 2.5px;
      @include font-size(16px);
    }
    & .title__text--one {
      margin-top: 7px;
      margin-bottom: 0;
      font-family: $Fuente2;
      @include font-size(39px);
      line-height: 45px;
      @include media(tablet) {
        @include font-size(47px);
        line-height: 58px;
      }
      @include media(desktop-s) {
        @include font-size(57px);
        line-height: 68px;
      }
      @include media(desktop-l) {
        @include font-size(68px);
        line-height: 78px;
      }
    }
    & .title__text--two {
      margin-top: 12px;
      margin-bottom: 30px;
      @include font-size(18px);
      line-height: 29px;
    }
    @include media(tablet) {
      text-align: center;
    }
    @include media(desktop-s) {
      width: 50%;
      margin-right: 50px;
      text-align: start;
    }
  }
  @include media(tablet){
    align-items: center;
  }
  @include media(desktop-s) {
    flex-direction: row;
    justify-content: center;
  }
}

.section.home-hero {
  position: relative;
}
.container-default {
  max-width: 1388px;
  margin-bottom: 60px;
  padding-right: 24px;
  padding-left: 24px;
  @include media(desktop-s) {
    margin: 0 auto;
    justify-content: center;
  }
}
.split-content.home-hero-right {
  max-width: 595px;
}
.image-wrapper {
  max-width: 650px;
  margin: 0 auto;
  position: relative;
  & img {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
  }
  @include media(desktop-s) {
    margin-top: 50px;
  }
}
.image-wrapper.home-hero {
  min-height: auto;
  z-index: 1;
}
.bg {
  position: absolute;
  &.home-hero {
    height: 90%;
    left: 0px;
    top: 0px;
    right: 0px;
    background-color: $color-secundario;
    &-right {
      max-width: 93%;
      left: auto;
      left: -115px;
      right: -133px;
      bottom: 165px;
      height: 65%;
      -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
      transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
  }
}
