.swiper {
  margin-bottom: 80px;
  @include media(desktop-s) {
    margin-bottom: 160px;
  }
}

.carousel {
  display: flex;
  flex-direction: column;
  width: 88vw;
  min-width: 288px;
  height: 369px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  border: 0.1px get-opacity($color-primario, 0.1) solid;
  background-color: #fff;
  &__gallery {
    width: 85%;
    height: 100%;
  }
  &-icon {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $color-secundario;
    & img {
      width: 60%;
      height: 60%;
      -webkit-filter: invert(1);
      filter: invert(1);
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    &__title {
      margin-top: 15px;
      text-align: center;
      font-family: $Fuente2;
      @include font-size(20px);
      @include media(mobile-l) {
        @include font-size(22px);
      }
      @include media(tablet) {
        @include font-size(26px);
      }
    }
    &__description {
      margin-top: 25px;
      text-align: center;
      @include font-size(18px);
      color: $color-letra;
    }
    & a {
      margin: 0 auto;
      width: 150px;
      margin-top: 15px;
      text-align: center;
      @include font-size(16px);
      color: blue;
      cursor: pointer;
    }
  }
  @include media(tablet) {
    width: 390px;
    height: 445px;
  }
}