.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  @include media(desktop-s) {
    justify-content: center;
    flex-direction: row;
    margin-bottom: 160px;
  }
}

/* CARDS */
.testimony-card {
  padding-top: 50px;
  color: #5d6174;
  @include card;
  &__text {
    width: 88%;
    align-self: center;
    text-align: center;
    @include font-size(18px);
    color: $color-letra;
  }
  &__person {
    display: grid;
    grid-template-columns: 70px 65%;
    grid-template-rows: 25px 25px;
    width: 88%;
    margin-top: 5px;
    margin-bottom: 40px;
    align-self: center;
    & img {
      grid-column: 1;
      width: 49px;
      height: 49px;
      border-radius: 50%;
    }
    &-info {
      grid-column: 2;
      width: 50%;
      white-space: nowrap;
      & span {
        grid-row: 1;
        font-weight: 700;
        @include font-size(18px);
        @include media(tablet) {
          @include font-size(21px);
        }
      }
      & p {
        grid-row: 2;
        @include font-size(13px);
        @include media(tablet) {
          @include font-size(14px);
        }
      }
    }
  }
  & hr {
    width: 100%;
    margin-top: auto;
    border: 3px solid $color-secundario;
    border-right: 0;
    border-left: 0;
    align-self: flex-end;
    @include media(desktop-s) {
      margin-top: 15px;
    }
  }
  @include media(tablet) {
    max-width: 660px;
    max-height: 306px;
  }
  @include media(desktop-s) {
    width: 30%;
    height: auto;
    max-width: 429px;
    max-height: 389px;
    padding-top: 60px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
