extend components/plantilla.pug
block contenidos
  main 
    section(id="main") 
      +main-cover('DRA. PAOLA TERRAZAS','Tu profesional favorita en Estética dental','Habilidosa, lista y carismática. La doctora Paola Terrazas es una profesional con muchos años de experiencia en el área odontológica.','RESERVA TU CITA')
    section(id="skills")
      .skills-container
        +skill-card('Experta','Muy hábil y con años de experiencia, totalmente diestra en la odontología.','like-icon.svg')
        +skill-card('Especialista','Conocedora y especialista en el área, tu sonrisa está en buenas manos.','heart-icon.svg')
        +skill-card('Preparada','Siempre lista para tu sonrisa, encantada de atender con atención y cortesía.','star-icon.svg')
    section(id="about")
      +about('SOBRE NOSOTROS', 'Obteniendo la mejor versión de las personas', 'Brindamos a nuestros pacientes servicios odontológicos de alta calidad en todas las especialidades, a cargo de profesionales competentes con soporte tecnológico y atención de primera.')
    section(id="services")
      +title('SERVICIOS','Experimentada en multiples prácticas')
      div(class="swiper mySwiper")
        .swiper-wrapper
          .swiper-slide
            +carousel('Ortodoncia','La ortodoncia se encarga de problemas relacionado con los dientes y la mandíbula haciendo uso de frenos.','tooth-clean.svg','modal1')
          .swiper-slide
            +carousel('Endodoncia','La endodoncia tiene como finalidad preservar las piezas dentales dañadas, evitando asi su pérdida.','tooth-cavities.svg','modal2')
          .swiper-slide
            +carousel('Periodoncia','La periodoncia trata todas las enfermedades periodontales producidas por acumulación de cálculo y placa bacteriana.','tooth-white.svg','modal3')
          .swiper-slide
            +carousel('Implantología','La implantología se dedica al reemplazo de dientes perdidos y rehabilitación dental.','brackets.png','modal5')
          .swiper-slide
            +carousel('Armonización Facial','La armonización ayuda a mejorar la simetría del rostro, tratando el envejecimiento y revitalizando el rostro.','facial-harmonization.svg','modal4')
        .swiper-pagination
        .swiper-button-prev
        .swiper-button-next
    section(id="schedule")
      +schedule('RESERVA TU CITA','Envianos un mensaje o mira los horarios disponibles','Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam proin nibh cursus at sed sagittis amet, sed.')
    section(id="testimonials")
      +title('TESTIMONIOS', 'Lo que los clientes dicen sobre la doctora')
      .testimonials-container
        +testimony-card('Yesenia Peredo', 'Presentadora de TV', 'testimony1.jpg', '“La Dra. Paola Terrazas dejo mis dientes perfectos y ahora mi sonrisa mejoró gracias a Dental Center!”')
        +testimony-card('Testimonio 2', 'Presentadora de TV', 'testimony1.jpg', '“La Dra. Paola Terrazas dejo mis dientes perfectos y ahora mi sonrisa mejoró gracias a Dental Center!”')
        +testimony-card('Testimonio 3', 'Presentadora de TV', 'testimony1.jpg', '“La Dra. Paola Terrazas dejo mis dientes perfectos y ahora mi sonrisa mejoró gracias a Dental Center!”')
    section(id="video")
      +video('https://fb.watch/8ahMRwkmYn/')
    section(id="posts")
      +title('GALERÍA','Las fotografías más destacadas')
      div(class="swiper mySwiper")
        .swiper-wrapper
          .swiper-slide
            picture 
              source(media="(min-width:1300px)" srcset="./../assets/img/gallery/vertical/dr1-large.webp")
              source(media="(min-width:768px)" srcset="./../assets/img/gallery/vertical/dr1-medium.webp")
              img(class="carousel__gallery" src="../assets/img/gallery/vertical/dr1-small.webp", alt="")
          .swiper-slide
            picture 
              source(media="(min-width:1300px)" srcset="./../assets/img/gallery/vertical/dr2-large.webp")
              source(media="(min-width:768px)" srcset="./../assets/img/gallery/vertical/dr2-medium.webp")
              img(class="carousel__gallery" src="../assets/img/gallery/vertical/dr2-small.webp", alt="")
          .swiper-slide
            picture 
              source(media="(min-width:1300px)" srcset="./../assets/img/gallery/vertical/dr3-large.webp")
              source(media="(min-width:768px)" srcset="./../assets/img/gallery/vertical/dr3-medium.webp")
              img(class="carousel__gallery" src="../assets/img/gallery/vertical/dr3-small.webp", alt="")
          .swiper-slide
            picture 
              source(media="(min-width:1300px)" srcset="./../assets/img/gallery/vertical/dr4-large.webp")
              source(media="(min-width:768px)" srcset="./../assets/img/gallery/vertical/dr4-medium.webp")
              img(class="carousel__gallery" src="../assets/img/gallery/vertical/dr4-small.webp", alt="")
          .swiper-slide
            picture 
              source(media="(min-width:1300px)" srcset="./../assets/img/gallery/vertical/dr5-large.webp")
              source(media="(min-width:768px)" srcset="./../assets/img/gallery/vertical/dr5-medium.webp")
              img(class="carousel__gallery" src="../assets/img/gallery/vertical/dr5-small.webp", alt="")
          .swiper-slide
            picture 
              source(media="(min-width:1300px)" srcset="./../assets/img/gallery/vertical/dr6-large.webp")
              source(media="(min-width:768px)" srcset="./../assets/img/gallery/vertical/dr6-medium.webp")
              img(class="carousel__gallery" src="../assets/img/gallery/vertical/dr6-small.webp", alt="")
          .swiper-slide
            picture 
              source(media="(min-width:1300px)" srcset="./../assets/img/gallery/vertical/dr7-large.webp")
              source(media="(min-width:768px)" srcset="./../assets/img/gallery/vertical/dr7-medium.webp")
              img(class="carousel__gallery" src="../assets/img/gallery/vertical/dr7-small.webp", alt="")
        .swiper-pagination
        .swiper-button-prev
        .swiper-button-next
    section(id="ubication")
      .ubication
        span ¡Encuentranos!
      div(class="embed-responsive embed-responsive-16by9")
        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5372.470012947848!2d-63.17182777696933!3d-17.795927466718464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93f1e84297c25f5b%3A0x67f5f6f6c00fb175!2sDental%20Center!5e0!3m2!1ses-419!2sbo!4v1634250724364!5m2!1ses-419!2sbo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    .modals
      +modal('Limpieza general','modal1','Por muy bien que te cepilles los dientes o uses el hilo dental, siempre quedan zonas difíciles de alcanzar. Una limpieza dental puede ayudarte a tener los dientes realmente limpios!','https://cutt.ly/kEEAs9Y')
      +modal('Eliminación de caries','modal2', 'En nuestra boca, al comer, las bacterias y los restos de comida se acaban juntando en la superficie de los dientes y formando la placa dental. Si ésta no se elimina, acaba atacando el esmalte del diente. Si tienes caries o sientes tenerlas, acude con nosotros lo más pronto posible!','https://cutt.ly/BEEAxyJ')
      +modal('Blanqueamiento','modal3', 'El blanqueamiento dental se produce de dos maneras. Primero, se eliminan las manchas en la capa externa del diente y debajo de la superficie del esmalte. Segundo, se previene la aparición de nuevas manchas. Esto se logra eliminando y aclarando las manchas, y protegiendo los dientes contra las manchas.','https://cutt.ly/IEEAbz6')
      +modal('Armonización facial','modal4', 'La armonización facial consiste en un conjunto de procedimientos estéticos variables según cada paciente con el objetivo de destacar la belleza natural de cada persona a través de pequeñas modificaciones en su fisionomía facial, realzando los puntos fuertes y suavizando las imperfecciones.','https://cutt.ly/PEEAW8L')
      +modal('Brackets','modal5', 'Los brackets son unas pequeñas placas que se adhieren a los dientes. Contienen una información específica (diferente para cada diente) que se transmite cuando se ponen los arcos de ortodoncia. Los arcos se insertan en los brackets y se cambian a lo largo del tratamiento, variando en grosor, sección y material.','https://cutt.ly/ZRcwsND')
      +modal-schedule('Horarios', 'modal-schedule', 'https://cutt.ly/iRcwgOB')