extend components/plantilla.pug
block contenidos
  main(id="main") 
    +main-cover('DRA. PAOLA TERRAZAS','Tu profesional favorita en Estética dental','Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum eget vel, nunc nulla feugiat. Metus ut ultricies faucibus.','RESERVA TU CITA')
    section(id="skills")
      .skills-container
        +skill-card('Experta','Lorem ipsum dolor sit amet, consectetur adipiscing elit aliquet in','like-icon.svg')
        +skill-card('Especialista','Lorem ipsum dolor sit amet, consectetur adipiscing elit aliquet in','heart-icon.svg')
        +skill-card('Preparada','Lorem ipsum dolor sit amet, consectetur adipiscing elit aliquet in','star-icon.svg')
    section(id="about")
      +about('SOBRE MÍ','Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam proin nibh cursus at sed sagittis amet, sed. Tristique id nibh lobortis nunc elementum. Tellus quam mauris aenean turpis vulputate sodales nullam lobortis. Vulputate tortor tincidun.')
    section(id="services")
      .services
        span.services__title--one SERVICIOS  
        span.services__title--two Experimentada en multiples prácticas 
      div(class="swiper mySwiper")
        .swiper-wrapper
          +carousel('Limpieza general','Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tristique libero viverra ultricies commodo.','tooth-clean.svg','modal1')
          +carousel('Eliminación de caries','Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tristique libero viverra ultricies commodo.','tooth-cavities.svg','modal2')
          +carousel('Blanqueamiento','Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tristique libero viverra ultricies commodo.','tooth-white.svg','modal3')
          +carousel('Armonización Facial','Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tristique libero viverra ultricies commodo.','facial-harmonization.svg','modal4')
          +carousel('Otra cosa','Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tristique libero viverra ultricies commodo.','facial-harmonization.svg','modal4')
        .swiper-pagination
        .swiper-button-prev
        .swiper-button-next
      +modal('Limpieza general','modal1','Por muy bien que te cepilles los dientes o uses el hilo dental, siempre quedan zonas difíciles de alcanzar. Una limpieza dental puede ayudarte a tener los dientes realmente limpios!','https://cutt.ly/kEEAs9Y')
      +modal('Eliminación de caries','modal2', 'En nuestra boca, al comer, las bacterias y los restos de comida se acaban juntando en la superficie de los dientes y formando la placa dental. Si ésta no se elimina, acaba atacando el esmalte del diente. Si tienes caries o sientes tenerlas, acude con nosotros lo más pronto posible!','https://cutt.ly/BEEAxyJ')
      +modal('Blanqueamiento','modal3', '...','https://cutt.ly/IEEAbz6')
      +modal('Armonización facial','modal4', '...','https://cutt.ly/PEEAW8L')
    section(id="Schedule")
      .schedule-container
        .schedule-container__info--two
          .schedule-container__info
            .schedule-info
              .schedule-info__text
                span.schedule-info__text--title RESERVA TU CITA
                span.schedule-info__text--relevant Envianos un mensaje o mira los horarios disponibles
                span.schedule-info__text--description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam proin nibh cursus at sed sagittis amet, sed.
              +button("RESERVA TU CITA")
        .schedule-image
    section(id="testimonials")
      .testimony
        span.testimony__title--one TESTIMONIOS
        span.testimony__title--two Lo que los clientes dicen sobre la doctora
      .testimonials-container
        +testimony-card('Yesenia Peredo', 'Presentadora de TV', 'testimony1.jpg', '“La Dra. Paola Terrazas dejo mis dientes perfectos y ahora mi sonrisa mejoró gracias a Dental Center!”')
        +testimony-card('Testimonio 2', 'Presentadora de TV', 'testimony1.jpg', '“La Dra. Paola Terrazas dejo mis dientes perfectos y ahora mi sonrisa mejoró gracias a Dental Center!”')
        +testimony-card('Testimonio 3', 'Presentadora de TV', 'testimony1.jpg', '“La Dra. Paola Terrazas dejo mis dientes perfectos y ahora mi sonrisa mejoró gracias a Dental Center!”')
    section(id="video")
      .video-container
        .video
          .video-opacity
          a(class="video-icon" href="https://fb.watch/8ahMRwkmYn/" target="_blank")
            img(src="../assets/icons/play.svg", alt="Es un icono de play")
    section(id="posts")
      .posts
        span.posts__title--one PUBLICACIONES
        span.posts__title--two Las publicaciones mas destacadas
      .posts-mobile 
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fdrapaolaterrazas%2Fposts%2F234601022000638&show_text=false&width=500" width="350" height="298" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fdrapaolaterrazas%2Fposts%2F232595002201240&show_text=false&width=500" width="350" height="298" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
      .posts-desktop 
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fdrapaolaterrazas%2Fposts%2F234601022000638&show_text=false&width=500" width="400" height="498" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fdrapaolaterrazas%2Fposts%2F232595002201240&show_text=false&width=500" width="400" height="498" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
      .posts-desktop-big
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fdrapaolaterrazas%2Fposts%2F234601022000638&show_text=false&width=500" width="500" height="498" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fdrapaolaterrazas%2Fposts%2F232595002201240&show_text=false&width=500" width="500" height="498" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    section(id="ubication")
      .ubication
        span ¡Encuentranos!
    div(class="embed-responsive embed-responsive-16by9")
      <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5372.470012947848!2d-63.17182777696933!3d-17.795927466718464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93f1e84297c25f5b%3A0x67f5f6f6c00fb175!2sDental%20Center!5e0!3m2!1ses-419!2sbo!4v1634250724364!5m2!1ses-419!2sbo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>