extend components/plantilla.pug
block contenidos
  main 
    +main-cover('DRA. PAOLA TERRAZAS','Estética dental')
    +skill-card('EXPERTA','En estética y tratamientos dentales.','like-icon.svg')
    +skill-card('ESPECIALISTA','Diseñar sonrisas.','heart-icon.svg')
    +skill-card('PREPARADA','En brindar el mejor servicio.','star-icon.svg')
    .doctor-cover 
      .doctor-cover__rectangle 
      .doctor-cover__photo 
    +about('Sobre mí','Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam proin nibh cursus at sed sagittis amet, sed. Tristique id nibh lobortis nunc elementum. Tellus quam mauris aenean turpis vulputate sodales nullam lobortis. Vulputate tortor tincidun.')
    .video
      .video-opacity
      a(href="javascript:void(0)" id="video1")
    .testimony
      span Testimonios
    +testimony-card('Yesenia Peredo', 'Presentadora de TV', 'testimony1.jpg', '“La Dra. Paola Terrazas dejo mis dientes perfectos y ahora mi sonrisa mejoró gracias a Dental Center!”')
    +testimony-card('Testimonio 2', 'Presentadora de TV', 'testimony1.jpg', '“La Dra. Paola Terrazas dejo mis dientes perfectos y ahora mi sonrisa mejoró gracias a Dental Center!”')
    +testimony-card('Testimonio 3', 'Presentadora de TV', 'testimony1.jpg', '“La Dra. Paola Terrazas dejo mis dientes perfectos y ahora mi sonrisa mejoró gracias a Dental Center!”')
    .ubication
      span ¡Encuentranos!
      .ubication__maps
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15195.667992838606!2d-63.178266430224575!3d-17.795597599999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93f1e84297c25f5b%3A0x67f5f6f6c00fb175!2sDental%20Center!5e0!3m2!1ses-419!2sbo!4v1632172897218!5m2!1ses-419!2sbo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy")