extend components/plantilla.pug
block contenidos
  main 
    +main-cover('DRA. PAOLA TERRAZAS','Estética dental')
    +skill-card('EXPERTA','En estética y tratamientos dentales.','like-icon.svg')
    +skill-card('ESPECIALISTA','Diseñar sonrisas.','heart-icon.svg')
    +skill-card('PREPARADA','En brindar el mejor servicio.','star-icon.svg')